<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Search</title>
    <%- include('../layout/css.ejs') %>
</head>
<body>
    <%- include('../layout/nav.ejs') %>
    <main class="searchMain">
        <h4>Search for a book: </h4>
        <section class="searchFormContainer">
            <form class="searchForBooks"action="/searches" method="post">
                <input type="text" name="search" placeholder="Search for a title or author" required>
                <fieldset>
                    <label for="title">
                        <span>Title</span>
                        <input type="radio" name="search" value="title" required />
                    </label>
                    <label for="author">
                        <span>Author</span>
                        <input type="radio" name="search" value="author" required />
                    </label>
                </fieldset>
                <button class="searchButton" type="submit">Search the Google Books API</button>
            </form>
        </section>
    </main>
</body>
</html>