<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing...</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/base.css" />
    <link rel="stylesheet" type="text/css" href="/layout.css" />
    <link rel="stylesheet" type="text/css" href="/module.css" />
</head>
<body>
  <main>
    <% books.forEach(book=>{ %>
    <section class="book">
      <div>
        <img src="<%=book.imageurl%>">
        <h4><%= book.title %></h4>
        <h5><%= book.authors_names %></h5>
        <p><%= book.description %></p>
      </div>
    </section>
    <% }) %>
  </main>
</body>
</html>