<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC/BG Book APP</title>
    <%- include('./layout/css.ejs') %>
</head>
<body>
  <%- include('./layout/nav.ejs') %>
    <header class="homeHeader">
     <h5>My Collection: <%=books.length%> books</h5>
    </header>
    <main id="indexMain">
      <%- include('./layout/bookBasic.ejs') %>   
    </main>
</body>
</html>